<!-- Logo -->
<div class="grid_4 logo">
	<%= link_to image_tag('logo.png'), :action => 'index'	%>
	<p>Carolina Welcome represents a series of social, educational and recreational activities designed to welcome you to campus and introduce you to the history and traditions of Carolina. </p>
</div>
<!--  END Logo -->

<!-- Random Feature Event -->
<div class="grid_4 featured">
	<h2>Featured <span>Event</span></h2>
	<% if !@featrand.nil? %>
		<% if !@featrand.eventflyer_file_name.nil? %>
			<%= link_to (image_tag @featrand.eventflyer.url(:medium), :alt => @featrand.event_title), @featrand %>
		<% else %>
			<%= link_to image_tag('cw300.png'), @featrand %>
		<% end %>
	
	<h3><%= link_to @featrand.event_title, @featrand %></h3>
	<span class="date"><%= @featrand.event_date.strftime("%b %d at %I:%M %p") %></span>
	<% end %>
</div>
<!--  END Random Feature Event -->	
						
<!-- Twitter Feed -->
<div class="grid_4 twitter">
	<h2 class="twitter">Twitter</h2>
	<div class="tweet"></div>
</div>
<!-- END Twitter Feed -->

<!-- Signature Events -->
<div class="grid_12 sig">
<div class="sig2"></div>
	<h2>Signature <span>Events</span></h2>
	<a id="lctl" href="#"><img src="images/lctl.png" alt="Previous"/></a>
	<a id="rctl" href="#"><img src="images/rctl.png" alt="Next"/></a>
	<div class="list_carousel">
		<ul id="sigevents">
		<% @sig.each do |sig| %>
			<li>
				<% if !sig.eventflyer_file_name.nil? %>
					<%= link_to (image_tag sig.eventflyer.url(:thumb), :alt => sig.event_title), sig %><br />
				<% else %>
					<%= link_to image_tag('cw220.png'), sig %>
				<% end %>	
				<span class="title"><%= link_to sig.event_title, sig %></span><br /><br /><span class="dt"><%= sig.event_date.strftime("%b %d at %I:%M %p") %></span>	
			</li>	
		<% end %>
		</ul>
	</div>	
</div>    
<!-- END Signature Events -->

<!-- Events -->
<div class="grid_12"><h1>Events</h1></div>
<div class="grid_12 datefilter">
	<ul id="portfolio-filter">
		<li><a href="#all" class="all">Full Schedule</a></li>
		<% @eventdate.each do |eventdate| %>
			<li><a href="#<%= eventdate.event_date.strftime("%m%d") %>" rel="<%= eventdate.event_date.strftime("%m%d") %>"><%= eventdate.event_date.strftime("%A, %b %d") %></a></li>
		<% end %>
	</ul>	
</div>
<ul id="portfolio-list">
	<% @event.each do |event| %>
	<li class="grid_4 event <%= event.event_date.strftime("%m%d") %>">
		<div class="eventimg">			
			<% if Time.now > event.event_dateend.to_time %>
				<div class="expired">Event Finished</div>
			<% end %>	
			<% if !event.eventflyer_file_name.nil? %>
				<%= link_to (image_tag event.eventflyer.url(:medium), :alt => event.event_title), event %>
			<% else %>
				<%= link_to image_tag('cw300.png'), event %>
			<% end %>	
		</div>
		<div class="eventtext">
			<h2><%=link_to event.event_title, event %></h2>
			<p class="eventdate"><%= event.event_date.strftime("%b %d at %I:%M %p") %></p>
			<p class="desc"><%= truncate(event.event_description, :length => 194) %></p>
			<p class="readmore"><%= link_to 'Read More', event %></p>
		</div>
	</li>
	<% end %>
</ul>	
<!-- end Events -->

		
